* {
  text-align: left;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

i {
  font-style: normal;
}

img {
  display: block;
}

.bg {
  width: 100vw;
  position: relative;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

.mt-dot-5 {
  margin-top: .5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.w100 {
  width: 100%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.fit {
  width: 100%;
  height: 100%;
}