.container {
  --gap: calc(15 / 750 * 100vw);
  --W: calc(100vw - var(--gap) * 2);
  padding-top: var(--gap);
  box-sizing: border-box;
}

.banner,
.navs,
.modules {
  width: var(--W);
  margin: 0 auto;
}

.banner .self {
  height: calc(250 / 722 * var(--W));
}

.navs {
  padding: calc(var(--gap) * 2) 0;
  box-sizing: border-box;

  .self {
    font-size: .85rem;
    font-weight: bold;
  }
}

.modules {
  margin-top: calc(var(--gap) * 2);

  &.first-modules {
    margin-top: 0;
  }

  .title {
    display: flex;
    align-items: center;

    h2 {
      font-size: 1.2rem;
      margin-left: calc(var(--gap) / 2);
    }
  }

  .cards {
    --self-W: calc((var(--W) - var(--gap) * 1) / 3);
    display: flex;
    flex-wrap: wrap;

    .self {
      width: var(--self-W);
      margin-left: calc(var(--gap) / 2);
      background-color: rgb(255, 240, 232);
      border-radius: .4rem;
      padding: calc(var(--gap) / 2);
      box-sizing: border-box;
      overflow: hidden;
      font-size: .8rem;

      &:nth-child(3n+1) {
        margin-left: 0;
      }

      .goods {
        --goods-W: calc(var(--self-W) - var(--gap));
        width: var(--goods-W);
        height: calc(160 / 180 * var(--goods-W));
        margin: 0 auto;
        background-color: white;
        border-radius: .4rem;

        img {
          width: 80%;
        }
      }

      .name {
        height: 1.2rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: 500;
        margin-top: calc(var(--gap) / 2);
        margin-bottom: calc(var(--gap) / 2);

        &.tip {
          color: rgb(148, 82, 46);
          background: linear-gradient(65deg, rgb(255, 235, 213), rgb(253, 197, 138));
          border-radius: 99px 99px 0 99px;
        }
      }

      .money-box {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        color: rgb(153, 153, 153);
        flex-wrap: wrap;

        .l {
          color: rgb(231, 56, 50);
          font-weight: bold;
          font-size: .95rem;
        }

        .r {
          text-decoration: line-through;
        }

        span:nth-child(1) {
          font-size: .8rem;
        }
      }
    }
  }

  &.integral .cards {
    .self {
      padding-bottom: var(--gap);
      box-sizing: border-box;
    }

    .exchange {
      color: white;
      background: linear-gradient(to bottom, rgb(255, 202, 170), rgb(255, 133, 1));
      border-radius: 99px;
      height: 1.5rem;
      font-size: .8rem;
      margin: 0 auto;
    }

    .name {
      display: flex;
      justify-content: center;
      align-items: center;

      &.gray {
        color: rgb(153, 153, 153);
      }
    }
  }

  &.cjxqs {
    padding-bottom: calc(var(--gap) * 2);
    box-sizing: border-box;

    .img-box {
      width: var(--W) !important;
      height: calc(161 / 720 * var(--W));
      background-image: url(../image/cjxqs.png);

      img.go {
        --img-go-size: 4.5rem;
        width: var(--img-go-size);
        height: var(--img-go-size);
        position: absolute;
        right: 16%;
        top: 12%;
        animation: scaleDraw 1s ease-in-out infinite;
      }
    }
  }
}

@keyframes scaleDraw {
  0% {
    transform: scale(.9);
  }

  25% {
    transform: scale(1);
  }

  50% {
    transform: scale(.9);
  }

  75% {
    transform: scale(1);
  }

  100% {
    transform: scale(.9);
  }
}