.container {
  --gap: calc(15 / 750 * 100vw);
  width: 100vw;
  height: 100vh;
  padding-top: calc(var(--gap) * 2);
  background-color: rgb(245, 248, 255);
  overflow-y: scroll;
}

.my-swipe {
  --my-swipe-W: calc(100vw - var(--gap) * 4);
  width: var(--my-swipe-W);
  margin: 0 auto;

  .van-swipe-item {
    width: var(--my-swipe-W);
    height: calc(260 / 750 * var(--my-swipe-W));
    font-size: 20px;
    line-height: 150px;
    text-align: center;
    border-radius: .6rem;
    overflow: hidden;
    background-color: #39a9ed;

    img {
      width: 100%;
    }
  }
}

.modules {
  --modules-W: calc(100vw - calc(var(--gap) * 4));
  width: var(--modules-W);
  margin: calc(var(--gap) * 2) auto 0;

  img.title {
    width: 58vw;
  }

  .cards {
    margin-top: calc(var(--gap) * 2);
    display: flex;
    flex-wrap: wrap;

    .card {
      --card-W: calc((var(--modules-W) - var(--gap) * 2) / 2);
      width: var(--card-W);
      margin-top: calc(var(--gap) * 2);
      padding: var(--gap);
      box-sizing: border-box;
      background-color: white;
      border-radius: .4rem;
      box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, .1);

      &:nth-child(2n) {
        margin-left: 4%;
      }

      &:nth-child(-n+2) {
        margin-top: 0;
      }

      div.img {
        --img-w: calc(var(--card-W) - var(--gap) * 2);
        width: var(--img-w);
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 100%;
        }
      }

      >h4 {
        font-weight: normal;
        height: 2rem;
        line-height: 2rem;
        font-size: .9rem;
      }

      div.tips {
        width: fit-content;
        color: rgb(148, 82, 46);
        background: linear-gradient(45deg, rgb(255, 235, 213), rgb(253, 197, 138));
        border-top-right-radius: .6rem;
        border-bottom-left-radius: .6rem;
        font-size: .85rem;
        padding: .2rem .4rem;
        box-sizing: border-box;
      }

      div.money {
        color: rgb(224, 5, 0);
        font-weight: bold;
        height: 2.4rem;
        line-height: 2.4rem;
      }

      i {
        font-style: normal;
        font-weight: bold;
      }
    }
  }
}