.shop-container {
  --bg1-H: calc(240 / 750 * 100vw);
  --bg2-H: calc(340 / 750 * 100vw);
  --bg3-H: calc(340 / 750 * 100vw);
  min-height: 100vh;
  height: 100%;
  background-color: rgb(75, 179, 252);
  position: relative;

  .bg-1 {
    top: 0;
  }

  .bg-2 {
    top: var(--bg1-H);
  }

  .bg-3 {
    top: calc(var(--bg1-H) + var(--bg2-H));
  }

  .bg-4 {
    top: calc(var(--bg1-H) + var(--bg2-H) + var(--bg3-H));
  }

  .content {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    padding-bottom: 2rem;
    box-sizing: border-box;

    .info {
      --title-H: 2.2rem;
      --float-W: 7vw;
      height: calc(240 / 750 * 100vw);
      position: relative;

      >h2.title {
        font-size: 1rem;
        height: var(--title-H);
        line-height: var(--title-H);
      }

      .star {
        width: calc(100% - var(--float-W));
        height: calc(100% - var(--title-H));
        text-align: left;
        padding-left: calc(5vw + 4vw);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;

        >h4 {
          font-size: .9rem;
          font-weight: normal;
          color: #333;
        }

        >h2 {
          font-size: 1.2rem;
          color: black;
        }

        button.record {
          border: none;
          color: rgb(93, 141, 248);
          padding: 0 .4rem;
          box-sizing: border-box;
          font-size: .8rem;
          width: fit-content;
        }
      }

      .float {
        position: absolute;
        right: 0;
        bottom: 0;

        img {
          width: var(--float-W);
          height: calc(66 / 56 * var(--float-W));

          &:nth-child(2) {
            margin-top: .5rem;
          }
        }
      }
    }

    .data {
      width: 90vw;
      margin: .5rem auto 0;
      background-color: rgb(240, 247, 248);
      border-radius: .7rem;
      padding: 4vw;
      box-sizing: border-box;
      text-align: left;

      .boxs {
        border: 1px solid transparent;
        box-sizing: border-box;
        margin-bottom: 1.4rem;

        &:last-child {
          margin-bottom: 0;
        }

        >h4 {
          font-weight: bold;
          font-size: .8rem;
          height: 1.2rem;
          line-height: 1.2rem;
          color: black;
          position: relative;
          padding-left: 8px;
          box-sizing: border-box;

          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 4px;
            height: 90%;
            background-color: rgb(245, 171, 127);
          }
        }
      }

      .full {
        margin-top: .4rem;

        .my-swipe .van-swipe-item {
          color: #fff;
          width: 82vw;
          height: calc(204 / 565 * 82vw);
          background-color: #9ed4f5;
          border-radius: .7rem;
          overflow: hidden;
        }

        &.cards {
          display: flex;
          flex-wrap: wrap;

          .card {
            width: 48%;
            height: auto;
            margin-right: 4%;
            margin-top: .8rem;
            padding: 0;

            &:nth-child(-n+2) {
              margin-top: 0;
            }

            &:nth-child(even) {
              margin-right: 0;
            }

            .show {
              background: linear-gradient(to bottom, rgb(198, 224, 235), rgb(228, 225, 220));
              width: 100%;
              padding: 1rem 0;
              box-sizing: border-box;
              border-radius: .6rem;
              overflow: hidden;

              >h3 {
                height: 1.2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: .8rem;
              }

              .prize-img {
                width: 55%;
                height: 10vh;
                margin: .4rem auto 0;
                overflow: hidden;

                >img {
                  width: 100%;
                }
              }
            }

            .coin {
              font-size: .7rem;
              margin-top: .4rem;

              >h3.t {
                height: 1.2rem;
                line-height: 1.2rem;
              }

              .b {
                display: flex;
                align-items: center;
                justify-content: space-between;

                span {
                  color: rgb(89, 114, 247);

                  i {
                    font-size: 1rem;
                    font-weight: bold;
                    margin-right: .15rem;
                  }
                }

                button {
                  border: none;
                  color: white;
                  background-color: rgb(175, 175, 175);
                  padding: .1rem .4rem;
                  box-sizing: border-box;
                  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .8);

                  &.exist {
                    background-color: rgb(252, 126, 101);
                    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .3);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.my-popup {
  background-color: transparent;

  .bg-popup {
    --popup-bg-W: 80vw;
    width: var(--popup-bg-W);
    height: calc(539/ 497 * var(--popup-bg-W));
    background-image: url(../images/popup_bg.png);
    position: relative;
    font-size: .9rem;

    .content-popup {
      width: 96%;
      height: 86%;
      position: absolute;
      top: 12%;
      left: 50%;
      transform: translateX(-50%);
      color: black;
      overflow-y: scroll;

      >h2 {
        height: 2.4rem;
        line-height: 2.4rem;
      }
    }
  }

  &.qrcode-popup .bg-popup .content-popup {
    >h2:nth-child(2) i {
      color: rgb(242, 82, 5);
      font-size: 1.5rem;
    }

    img.qrcode {
      width: 45%;
      margin: 1rem auto 1.4rem;
    }
  }

  &.coin-popup .bg-popup .content-popup {
    >h2 {
      color: white;
    }

    >h2:nth-child(1) i {
      color: rgb(255, 181, 109);
      font-size: 1.8rem;
    }

    >h2.success-tip {
      color: white;
      font-size: 1.8rem;
      text-shadow: 2px 0px 4px rgb(7, 116, 211), -2px 0px 4px rgb(7, 116, 211), 0px 2px 4px rgb(7, 116, 211), 0px -2px 4px rgb(7, 116, 211);
    }

    >h2.fail-tip {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10%;
      color: black;
      height: 3rem;
      line-height: 3rem;
      font-size: 1.5rem;

      >img {
        --star-W: 2.2rem;
        width: var(--star-W);
        height: calc(75 / 82 * var(--star-W));
        margin-right: .4rem;
      }
    }

    >h2.place-tips-1 {
      margin-top: 8%;
    }

    >h2.place-tips-2 {
      margin-bottom: 15%;
    }

    .icon {
      --icon-size: 25vw;
      width: var(--icon-size);
      height: var(--icon-size);
      margin: 1rem auto;
      overflow: hidden;
    }

    .btns {
      margin-top: .5rem;

      button {
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }
  }
}

.my-popup.rule-popup .bg-popup {
  --rule-popup-bg-W: 90vw;
  width: var(--rule-popup-bg-W);
  height: calc(936/ 681 * var(--rule-popup-bg-W));
  background-image: url(../images/gule_popup.png);
  position: relative;
  font-size: .9rem;

  .van-icon {
    position: absolute;
    right: 5%;
    top: 0%;
  }

  ul {
    display: block;
    width: 72%;
    height: 68%;
    position: absolute;
    top: 16%;
    left: 15%;
    overflow-y: scroll;
    text-align: left;
  }
}



.my-popup.record-popup {
  .record-bakc {
    color: white;
    position: fixed;
    z-index: 9;
    top: 2%;
    right: 0;
    padding: .1rem .8rem;
    border-radius: 0;
    border-top-left-radius: .4rem;
    border-bottom-left-radius: .4rem;
    background-color: rgb(250, 177, 13);
    font-size: .9rem;
  }

  .record-content {
    width: 90vw;
    height: 84vh;
    padding: 1.2rem .8rem;
    box-sizing: border-box;
    position: fixed;
    top: 13%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border-radius: .8rem;
    overflow-y: scroll;

    .every {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 0;
      border: 1px solid transparent;
      border-bottom-color: rgb(235, 235, 235);
      box-sizing: border-box;
      text-align: left;
      font-size: 1rem;

      .l {
        display: flex;
        flex-direction: column;

        >span {
          color: rgb(155, 158, 166);
          font-size: .85rem;
        }
      }

      .r {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        font-weight: bold;

        img.gold {
          width: 1.4rem;
          margin-top: -5%;
          margin-left: .2rem;
        }
      }
    }
  }
}