h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

i {
  font-style: normal;
}

img {
  display: block;
}

.bg {
  width: 100vw;
  position: relative;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;
}